h1 {
    font-family: 'My Special Font', Arial, sans-serif;
    color: #ffffff;
    font-size: 3cm;
}


p {
    font-family: 'My Special Font2', italic, sans-serif;
    color: #ffffff;
    font-size: 1.1cm;
}

