body {
  margin: 0;
  height: 100vh;
}
  .grid-container{

  display: grid;
  grid-template-areas:
    'header header header'
    "nav nav nav"
    "content content content"
    "status status status";
    

  grid-template-columns: 190px 1fr 1fr ;
  grid-template-rows: 75px 110px 1fr 75px;
}

header {
  grid-area: header;
  background: rgb(179, 221, 226);
    display: grid;

}

nav {
  grid-area: nav;
    display: grid;
grid-template-columns: repeat(3, 1fr);
background-color: #dffcfc;

}

main {
  grid-area: content;
  background: #96f8f3;


}



aside a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(147, 245, 232);
}

footer {
  grid-area: status;
  background: #6cecc6;
      display: grid;
grid-template-columns: repeat(3, 1fr);

}
