body {
  margin: 0;
  height: 100vh;
}
  .grid-container{

  display: grid;
  grid-template-areas:
    'header header header'
    "nav nav nav"
    "subnav content content"
    "status status status";
    

  grid-template-columns: 190px 1fr 1fr ;
  grid-template-rows: 75px 110px 1fr 75px;
}

header {
  grid-area: header;
  background: #f88;
    display: grid;

}

nav {
  grid-area: nav;
    display: grid;
grid-template-columns: repeat(3, 1fr);
background-color: #edf037;

}

main {
  grid-area: content;
  background: #8bc34a;


}

aside {
  grid-area: subnav;
  background: #ec42e4;
    display: grid;
grid-template-columns: repeat(1fr);

}
aside a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 199, 147);
}

footer {
  grid-area: status;
  background: #6cecc6;
      display: grid;
grid-template-columns: repeat(3, 1fr);

}
